<h1>{{title}}</h1>
<p>
  Want to add your personal message? <br>
  Click on <a href="/new">this link to the message form</a>.
</p>
<ul>
  {{#each messages}}
    <li>User: {{this.user}}</li>
    <li>Date: {{this.added}}</li>
    <li>Message: {{this.text}}</li>
  {{/each}}
</ul>